<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Common Vulnerabilities and Exposures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../lib/bootstrap.min.css">
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/popper.min.js"></script>
    <script src="../../lib/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/brain/0.6.3/brain.js"></script>
</head>

<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="index.html">All Vendor</a></li>
    <li role="presentation"><a href="products.html">Products</a></li>
    <li role="presentation"><a href="vulnerabilities.html">Vulnerabilities</a></li>
    <li role="presentation" class="active"><a href="light.html">Light</a></li>
</ul>
<div class="span12">
    <div class="container-fluid">
        <div class="row-fluid">
            <h2>Light Container</h2>
            <div class="span2">
                <button class="btn btn-primary float-right" type="button" id="btnLight" style="position: inherit; right: 2%;">Light</button>
            </div>
            <div class="span10">

            </div>
        </div>
    </div>

</div>
<script src="../js/classes/Utils.js"></script>
<script src="../js/Controller/Light.js"></script>
<script src="../js/classes/BrainLight.js"></script>

</body>

</html>